@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
}

body {
    padding: 0 20px;
    width: 98vw;
    box-sizing: border-box;
    margin: 0 auto;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 57px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 42px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    line-height: 24px;
    color: #F75C4E;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

p {
    line-height: 32px;
    width: 98%;
}

a {
    line-height: 32px;
    color: black;
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 110%;
    height: 2px;
    bottom: 0;
    left: -5%;
    background-color: #adadad;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

button,
input {
    border-style: none;
    border-radius: 50px;
    padding: 0.8em 2em;
    box-sizing: border-box;
}

input {
    font-weight: 400;
}

input:focus {
    outline: none;
}

button {
    font-weight: 600;
}

::selection {
    background-color: #adadad;
}

.nav-bar {
    padding-top: 30px;
}

.logo {
    margin: 0%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo>img {
    width: 48px;
    height: 34px;
}

.logo>figcaption {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

.nav-link {
    display: none;
}

.sign-in {
    display: none;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-content>p {
    margin-top: 25px;
}

.intro-content>button {
    margin-top: 30px;
    width: 12em;
    background-color: #1F7CFF;
    color: white;
}

.intro-content>button:hover {
    background-color: #006aff;
}

.intro>img {
    display: none;
}

.brand {
    margin-top: 50px;
    width: 95%;
}

.brand>h3 {
    color: black;
}

.brand-list {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.brand-list>* {
    height: 1.6em;
}

.feature {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature>h2 {
    margin-top: 5px;
    text-align: center;
}

.feature>p {
    margin-top: 20px;
    text-align: center;
}

.icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    grid-area: icon;
    justify-self: end;
    align-self: start;
}

.icon>img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
}

.feature-element:first-child>.icon {
    background-color: #1F7CFF;
}

.feature-element:nth-child(2)>.icon {
    background-color: #191046;
}

.feature-element:nth-child(3)>.icon {
    background-color: #FF1FB3;
}

.feature-element:nth-child(4)>.icon {
    background-color: #F75C4E;
}

.feature-element:nth-child(5)>.icon {
    background-color: #F7954E;
}

.feature-element:nth-child(6)>.icon {
    background-color: #5C4EF7;
}

.feature-element>h4 {
    grid-area: head;
    align-self: center;
}

.feature-element>p {
    margin-top: 10px;
    grid-area: content;
    align-self: center;
}

.feature-element:first-child {
    margin-top: 50px;
}

.feature-element {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "icon head head head" "icon content content content";
    column-gap: 10%;
    row-gap: 0;
}

.benefit {
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

iframe {
    width: 100%;
    height: 45vw;
    border-radius: 20px;
}

.benefit-detail {
    margin-top: 10px;
}

.benefit-detail>h2 {
    margin-top: 5px;
}

.benefit-detail>p {
    margin: 20px auto;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form>* {
    width: 85%;
}

form>input {
    background-color: #F5F6FB;
}

form>input::placeholder {
    color: #575455;
}

form>button {
    background-color: #1F7CFF;
    color: white;
}

form>button:hover {
    background-color: #006aff;
}

@media only screen and (max-width: 300px) {
    * {
        font-size: 14px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 736px) {
    body {
        background-color: rgb(255, 255, 255);
        width: 95vw;
    }
    h1 {
        font-size: 55px;
        line-height: 82.5px;
    }
    h2 {
        font-size: 36px;
        line-height: 54px;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 2%;
        right: 2%;
        padding: 2%;
        background-color: rgba(255, 255, 255, 0.932);
        z-index: 2;
        border-radius: 50px;
    }
    .sign-in {
        font-weight: 400;
        display: initial;
        background-color: #F5F6FB;
        width: 9em;
        height: initial;
    }
    .sign-in:hover {
        background-color: rgb(239, 240, 245);
    }
    .intro {
        margin-top: 10%;
    }
    .intro-content {
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .brand {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .brand-list {
        width: 100%;
        justify-content: space-between;
    }
    .brand-list>* {
        height: 1.8em;
        margin: 0 auto;
    }
    .feature {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }
    .feature>p {
        width: 500px;
    }
    .feature-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: start;
        justify-items: center;
        column-gap: 5%;
    }
    .feature-element {
        margin-top: 50px !important;
        width: 98%;
    }
    .feature-element:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }
    .feature-element:nth-child(3) {
        grid-row: 3;
        grid-column: 1;
    }
    .feature-element:nth-child(4) {
        grid-row: 1;
        grid-column: 2;
    }
    .feature-element:nth-child(5) {
        grid-row: 2;
        grid-column: 2;
    }
    .feature-element:nth-child(6) {
        grid-row: 3;
        grid-column: 2;
    }
    .benefit {
        margin-top: 135px;
        margin-bottom: 60px;
        width: 85%;
    }
    .benefit-detail {
        margin-top: 30px;
    }
    .benefit-detail>p {
        width: 400px;
    }
    form {
        margin-top: 40px;
        flex-flow: row nowrap;
        justify-content: center;
    }
    form>input {
        width: 50%;
    }
    form>button {
        width: 30%;
        margin-left: -15%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
    .intro-content>h1 {
        width: 400px;
    }
}

@media only screen and (min-width: 992px) {
    .nav-link {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .intro {
        margin-top: 10%;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .intro>img {
        align-self: stretch;
        width: 40vw;
        max-width: 700px;
        max-height: 600px;
        display: initial;
        object-fit: cover;
        border-radius: 60px;
    }
    .intro-content {
        margin-left: 0;
        margin-right: 0;
        width: 45%;
        align-items: start;
        text-align: start;
    }
    .brand {
        width: 85%;
        margin-top: 100px;
        flex-flow: row nowrap;
        align-items: start;
        justify-content: space-between;
    }
    .brand>h3 {
        width: 200px;
    }
    .brand-list {
        margin: 0 0;
        width: 70%;
        flex-flow: row nowrap;
    }
    .feature {
        margin-top: 130px;
        width: 85%;
    }
    .feature-list {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 3%;
    }
    .feature-element:nth-child(2) {
        grid-row: 1;
        grid-column: 3;
    }
    .feature-element:nth-child(3) {
        grid-row: 2;
        grid-column: 1;
    }
    .feature-element:nth-child(4) {
        grid-row: 1;
        grid-column: 2;
    }
    .feature-element:nth-child(5) {
        grid-row: 2;
        grid-column: 3;
    }
    .feature-element:nth-child(6) {
        grid-row: 2;
        grid-column: 2;
    }
    .benefit {
        margin-top: 160px;
        margin-bottom: 80px;
        display: flex;
        width: 85%;
        justify-content: space-between;
    }
    iframe {
        width: 40vw;
        height: 20vw;
        min-height: 350px;
    }
    .benefit-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        margin: 0 0 0 5%;
        width: 40%;
        min-width: 25em;
    }
    .benefit-detail>p {
        min-width: 400px;
        width: 100%;
        margin-left: 0%;
    }
    form {
        margin-top: 5%;
        justify-content: start;
        width: 100%;
    }
    form>input {
        width: 23em;
    }
    form>button {
        width: 12em;
    }
}